*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    perspective: 4000px;
}
.card{
    width: 40%;
    height: 450px;
    margin: 10px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s ease-in-out;
    border: none;
}
.header h3{
    display: inline;
}
.content{
    overflow: hidden;
}

.div1{
    margin-left: 35px;
    float: left;
}
.div2{
    margin-right: 35px;
    float: right;
}
.card:hover{
    transform: rotateY(180deg);
}
.card > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EEE;
    color: #777;
    border: 1px solid #ccc;
    font-family: Arial, Tahoma;
    text-align: center;
    border-radius: 10px;
}
.card .front{
    z-index: 2;
    backface-visibility: hidden;
}
.card .front header{
    background-color: #444;
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 80px;
}
.card .front img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    top: 20px;
}
.card .front h3{
    margin: 5px;
}
.card .front p{
    margin: 0 auto 30px;
    width: 90%;
    line-height: 2.2;
}
.card .front span{
    display: inline-block;
    margin-top: 5px;
    color: #60AC37;
    font-weight: bold;
}
.card .back{
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    font-size: 20px;
}
.card .back ul{
    padding: 0;
    list-style: none;
    line-height: 4;
}
.card .back ul li span {
    float: left;
    margin-left: 35px;
}
.card .back ul li a{
    flaot:left;
    text-decoration: none;
}
